name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      current-version: ${{ steps.version.outputs.current-version }}
      latest-version: ${{ steps.version.outputs.latest-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get next gh version
        id: version
        run: |
          current_version="$(sed -n 's/ENV GITHUB_CLI_VERSION=//p' Dockerfile)"
          echo "current_version=$current_version"
          latest_version="$(gh release view --json tagName --jq .tagName -R cli/cli)"
          latest_version="${latest_version#v}"
          echo "latest_version=$latest_version"
          echo "current-version=${current_version}" >> "$GITHUB_OUTPUT"
          echo "latest-version=${latest_version}" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

  update-version:
    env:
      GH_VERSION: ${{ needs.get-version.outputs.latest-version }}
    if: needs.get-version.outputs.latest-version!= ''
    needs: get-version
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update GITHUB_CLI_VERSION
        run: |
          sed -i "s/ENV GITHUB_CLI_VERSION=.*/ENV GITHUB_CLI_VERSION=${GH_VERSION}/" Dockerfile
      - name: Configure git
        run: |
          git config --global user.email "${{ github.run_id }}+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - name: Commit changes
        run: |
          if git diff --quiet Dockerfile; then
            echo "No changes to commit"
          else
            git add Dockerfile
            git commit -m "chore(deps): Update GITHUB_CLI_VERSION to ${GH_VERSION}"
            git push origin "$(git branch --show-current)"
          fi

  build-docker:
    env:
      GH_VERSION: ${{ needs.get-version.outputs.latest-version || needs.get-version.outputs.current-version }}
    if: always()
    needs:
      - get-version
      - update-version
    permissions:
      contents: read
      id-token: write
      packages: write
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Build docker
        uses: meysam81/build-docker@main
        with:
          cosign: true
          image-name: |
            ghcr.io/${{ github.repository }}
          image-extra-tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.run_id }}
            ghcr.io/${{ github.repository }}:${{ env.GH_VERSION }}
          kubescape: true
          kubescape-upload-sarif: true
          platforms: linux/amd64,linux/arm64

  github-release:
    needs:
      - get-version
      - update-version
    env:
      GH_VERSION: ${{ needs.get-version.outputs.latest-version }}
    if: needs.get-version.outputs.latest-version!= ''
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create release ${{ env.GH_VERSION }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if gh release view ${{ env.GH_VERSION }} -R ${{ github.repository }}; then
            echo "Release ${{ env.GH_VERSION }} already exists, skipping"
            exit 0
          fi
          gh release create ${{ env.GH_VERSION }} -t ${{ env.GH_VERSION }} --generate-notes
